---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <h1>Interactúa con el Backend de LangChain</h1>

    <form hx-get="https://backend-minimal-nu.vercel.app/llm" 
	hx-target="#resultado" 
	hx-swap="innerHTML">
        <label for="prompt">Pregunta:</label>
        <input type="text" id="prompt" name="prompt" required />
        <button type="submit">Enviar</button>
    </form>

    <div id="resultado">
        <!-- Aquí se mostrará la respuesta -->
    </div>

  </Layout>
